/* RESPONSIVIDADE */
@media only screen and (max-width: 1130px) {
  html {
    font-size: 60%;
  }
  .section-dark hr, .nossa-historia ~ hr {
    margin: 0px 15px;
  }
  .ambiente .ambiente-info-container .ambiente-info-horarios {
    padding-left: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 910px) {
  .footer-bg .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-bg .footer .footer-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }
  .footer-bg .footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-bg .footer .footer-info .footer-info-logo {
    max-width: 89px;
    margin: 0px;
  }
  .footer-bg .footer .footer-info .footer-info-copy {
    text-align: start;
  }
  .footer-bg .footer .footer-social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    text-align: start;
  }
  .footer-bg .footer .footer-social .footer-social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .footer-bg .footer .footer-social .footer-social-links ul a {
    font-size: 3rem !important;
    padding: 5px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .footer-bg .footer .footer-social .footer-social-links ul a:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 57%;
  }
  .header-bg .header .header-logo {
    max-width: 650px;
  }
  .header-bg .header .header-logo-g {
    max-width: 40px;
  }
  .main-img {
    height: 350px;
  }
  .page-grid {
    -ms-grid-columns: (minmax(10px, 1fr))[12];
        grid-template-columns: repeat(12, minmax(10px, 1fr));
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .gastronomia {
    padding: 30px 10px;
  }
  .gastronomia .gastronomia-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .gastronomia .gastronomia-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: start;
    margin-bottom: 30px;
  }
  .gastronomia .gastronomia-text {
    grid-column: 6 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .gastronomia .gastronomia-btn {
    grid-column: 6 / -1;
    -ms-grid-row: 5;
    grid-row: 5;
    place-self: start end;
  }
  .vinhedos {
    padding: 30px 10px 60px 10px;
  }
  .vinhedos .vinhedos-img {
    grid-column: 8 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .vinhedos .vinhedos-img img {
    max-height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 10%;
       object-position: 50% 10%;
  }
  .vinhedos .vinhedos-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: 30px;
  }
  .vinhedos .vinhedos-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .vinhedos .vinhedos-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .ambiente {
    padding: 60px 10px 30px 10px;
  }
  .ambiente .ambiente-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
    margin: 0px auto 30px auto;
  }
  .ambiente .ambiente-img {
    height: 350px;
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .ambiente .ambiente-img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
  }
  .ambiente .ambiente-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    margin-bottom: 30px;
  }
  .ambiente .ambiente-info-container {
    grid-column: 9 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ambiente .ambiente-info-container .ambiente-info-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50px;
            flex: 1 1 50px;
  }
  .ambiente .ambiente-info-container .ambiente-info-item .ambiente-info-title {
    margin-bottom: 10px;
  }
  .ambiente .ambiente-info-container .ambiente-info-vestimenta {
    padding-left: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nossa-historia {
    padding: 30px 10px;
  }
  .nossa-historia .nossa-historia-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    font-size: 6.6rem !important;
    margin-bottom: 30px;
  }
  .nossa-historia .nossa-historia-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .nossa-historia .nossa-historia-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 4;
    grid-row: 4;
    place-self: start;
    margin-bottom: 30px;
  }
  .nossa-historia .nossa-historia-img {
    grid-column: 7 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
  }
  .contato {
    padding: 30px 10px;
  }
  .contato .contato-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0px auto 30px auto;
  }
  .contato .contato-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .contato .contato-links {
    grid-column: 8 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    place-self: start end;
  }
  .contato .contato-links ul {
    gap: 10px;
  }
  .contato .contato-btn {
    grid-column: 8 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    place-self: start end;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 53%;
  }
  .js .js-header-bg.scroll .js-header-nav-hamburger {
    display: block;
  }
  .js .js-header-bg.scroll .js-header-nav-hamburger span {
    display: block;
  }
  .js .js-header-bg.scroll .header-nav {
    font-size: 2.6rem !important;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 119px;
    right: 0px;
  }
  .gastronomia .gastronomia-img {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .gastronomia .gastronomia-img img {
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .gastronomia .gastronomia-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }
  .gastronomia .gastronomia-text {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .gastronomia .gastronomia-btn {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .vinhedos .vinhedos-img {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  .vinhedos .vinhedos-img img {
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 10%;
       object-position: 50% 10%;
  }
  .vinhedos .vinhedos-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }
  .vinhedos .vinhedos-text {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-bottom: 30px;
  }
  .vinhedos .vinhedos-btn {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .ambiente .ambiente-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .ambiente .ambiente-img {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .ambiente .ambiente-text {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-bottom: 30px;
  }
  .ambiente .ambiente-info-container {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0px auto;
  }
  .ambiente .ambiente-info-container .ambiente-info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 140px;
            flex: 0 1 140px;
  }
  .nossa-historia .nossa-historia-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    font-size: 6rem !important;
  }
  .nossa-historia .nossa-historia-text {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .nossa-historia .nossa-historia-btn {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    place-self: start end;
  }
  .nossa-historia .nossa-historia-img {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .contato .contato-title {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .contato .contato-text {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .contato .contato-links {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
    place-self: start end;
  }
  .contato .contato-btn {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
    place-self: start end;
  }
}

@media only screen and (max-width: 410px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=responsivo.css.map */